paths:
    migrations: %%PHINX_CONFIG_DIR%%/db/migrations/bciti
    seeds: %%PHINX_CONFIG_DIR%%/db/seeds/bciti

environments:
    default_migration_table: Op_PhinxLog
    default_database: development
    development:
        adapter: mysql
        host: localhost
        name: bciti
        user: root
        pass: root
        port: 8889
        charset: utf8

version_order: creation